$content-gutter: 2rem

/* Global Post Sass */
.blog-post-title,
.blog-post-date
  margin-bottom: 0
.blog-post-date
  font-weight: 700
  text-transform: uppercase
  font-size: .875rem
  padding-bottom: 1rem
  opacity: .6

/* Blog "Single" Specific Sass */
.blog-post
  margin-top: -4.5rem
  .blog-post-title,
  .blog-post-date
    padding-left: 2rem
  .blog-post-content
    background-color: #fff
    margin-bottom: $content-gutter
    padding: $content-gutter
    border-radius: $content-gutter
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.04)
    .wide
      margin-left: -$content-gutter
      margin-right: -$content-gutter