$content-gutter: 2rem

.blog-post-title,
.blog-post-date
  margin-bottom: 0

.blog-post-date
  font-weight: 700
  text-transform: uppercase
  font-size: .875rem
  padding-bottom: 1rem
  opacity: .6

.blog-post-content
  background-color: #fff
  margin-bottom: 2rem
  padding: 4rem $content-gutter
  border-radius: 2rem
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.04)

.blog-post-content .wide
  margin-left: -$content-gutter
  margin-right: -$content-gutter

