body
  background: linear-gradient(45deg, #52acff, #5df4dd, #e3a200, #f76b1c, #b721ff)
  background-size: 750%
  background-attachment: fixed
  -webkit-animation: BodyGradientAniBG 30s ease infinite
  -moz-animation: BodyGradientAniBG 30s ease infinite
  -o-animation: BodyGradientAniBG 30s ease infinite
  animation: BodyGradientAniBG 30s ease infinite

@-webkit-keyframes BodyGradientAniBG
  0%
    background-position: 100% 0%
  50%
    background-position: 0% 100%
  100%
    background-position: 100% 0%
@-moz-keyframes BodyGradientAniBG
  0%
    background-position: 100% 0%
  50%
    background-position: 0% 100%
  100%
    background-position: 100% 0%
@-o-keyframes BodyGradientAniBG
  0%
    background-position: 100% 0%
  50%
    background-position: 0% 100%
  100%
    background-position: 100% 0%
@keyframes BodyGradientAniBG
  0%
    background-position: 100% 0%
  50%
    background-position: 0% 100%
  100%
    background-position: 100% 0%


a
  text-decoration: none

.page
  display: flex
  flex-flow: column
  justify-content: space-between
  min-height: 100vh
  &>main
    flex: 1 1 100%
    background-color: #f3f6f9
    padding-top: 2rem
  section, .section
    padding: 2rem 0